<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
	<name replace-wildcards="yes">%h</name>
	<service>
		<type>_arduino._tcp</type>
		<port>80</port>
		<txt-record>board=$board</txt-record>
		<txt-record>distro_version=0.1</txt-record>
	</service>
</service-group>
