<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">%h Windows File Server</name>
  <service>
   <type>_smb._tcp</type>
   <port>445</port>
  </service>
</service-group>
