config server common
	option server_addr 'xfrp.kunteng.org'
	option server_ip '114.112.99.148'
	option server_port '7001'

#config proxy
#        option name 'custom'
#        option type 'http'
#        option local_port '80'
#        option custom_domains 'custom_domain.xfrp.kunteng.org'

#config proxy
#        option name 'ssh'
#        option type 'tcp'
#        option local_port '22'
#        option remote_port 'remote_port'
#        option section_name 'section_name'

#config proxy
#        option name 'ftp_router'
#        option type 'ftp'
#        option local_port '21'
#        option remote_port 'remote_port'
#        option remote_data_port 'remote_data_port'